<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/discovervehicles.css">
</head>
<body>
    {{>navbar isAdmin=isAdmin}}
    <div class="container">
        <div class="carscontainer">
            {{#each vehicles}}
            <div class="carBox">
                <div class="carimg" style="background-image: url('{{this.imageUrl}}');"></div>
                <div class="carinfo">
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>{{this.name}}</td>
                        </tr>
                        <tr>
                            <td>Price:</td>
                            <td>{{this.price}} Rs./hour</td>
                        </tr>
                        <tr>
                            <td>Details:</td>
                            <td>
                                {{#if this.details}}
                                {{#each this.details}}<div>{{this}}</div>{{/each}}
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <td>Available:</td>
                            <td>{{#if this.available}}Yes{{else}}No{{/if}}</td>
                        </tr>
                    </table>
                    {{#unless ../isAdmin}}
                    <button class="bookBtn"><a href="/booknow?id={{this._id}}">Book now</a></button>
                    {{/unless}}
                    {{#if ../isAdmin}}
                    <div class="buttons">
                        <button class="bookBtn"><a href="/booknow?id={{this._id}}">Book now</a></button>
                        <div class="adminbuttons">
                            <button class="deleteCarBtn"><a href="/admin/deletecar?id={{this._id}}">Delete</a></button>
                            <button class="editCarBtn"><a href="/admin/editcar?id={{this._id}}">Edit</a></button>
                        </div>
                    </div>
                    {{/if}}
                    <input class="availability" type="hidden" value="{{this.available}}">
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <button class="logoutBtn">
        <a href="/logout">Logout</a>
    </button>
    <script>
        let carBoxes = document.querySelectorAll('.carBox');
        carBoxes.forEach((carBox) => {
            let availability = carBox.querySelector('.availability');
            let bookBtn = carBox.querySelector('.bookBtn a');
            if (availability.value === 'true')
                bookBtn.style.color = "green";
            else
            {
                bookBtn.style.color = "red";
                bookBtn.style.pointerEvents="none";
            }
               
        });
    </script>
</body>

</html>